/week3/ABL1
/week5/outdir
/week5/Villin_Lab
/week4/ubq
/final_proj/cd
/final_proj/cd-ad
/final_proj/test
/final_proj/complex_integration
/final_proj/complex_integration_meoh/lambda.*
/final_proj/complex_integration_meoh_out/lambda.*
/final_proj/complex_integration_trial
/final_proj/ligand_integration_meoh/lambda.*
/final_proj/ligand_integration
/final_proj/ligand_integration_trial
/final_proj/ligand_integration_trial
